a {
  color: #4682B4;
  text-decoration: none;
  transition-duration: .3s;
}

ul, ol {
  margin: 0;
  padding: 0;
}

html {
  font-size: 18px;
  background-color: white;
}

article.sn > .article-body strong {
  font-weight: bold;
  color: black;
  box-shadow: none;
}

article.sn > .article-body em {
  box-shadow: 0 -.3rem 0 0 #ffc107 inset;
}

.p-logo {
  display: inline-block;
  /* text-transform: uppercase; */
}

.article-body figure {
  margin: 1.5rem 0;
  display: block;
  text-align:center; /* 追加 */
}

.article-body figcaption {
  padding: .5rem 0;
  font-size: .8rem;
  /* text-align: center; */
}

.sponsor {
  color: gray;
  font-size: 0.8rem;
  text-align: center;
}

.l-header, .l-footer, .author, article.sn {
  box-shadow: none;
}

a.ht {
  color: white;
  background-color: rgb(8, 174, 217);
}

a.tw {
  color: white;
  background-color: rgb(29, 161, 242);
}

a.fb {
  color: white;
  background-color: rgb(59, 89, 152);
}

a.pk {
  color: white;
  background-color: rgb(238, 64, 86);
}

a.ln {
  color: white;
  background-color: rgb(0, 185, 0);
}

.copyright {
  text-align: center;
}

.adsense {
  margin: 10px 0;
}

.logo {
  margin-top: 15px;
}

.article-header > .facts a {
  color: black;
}