a {
  color: #696969;
  text-decoration: none;
  transition-duration: .3s;
}

ul, ol {
  margin: 0;
  padding: 0;
}

html {
  font-size: 18px;
  background-color: #f5f5f5;
}

article.sn > .article-body strong {
  box-shadow: 0 -.5rem 0 0 #ffc107 inset;
}

article.sn > .article-body em {
  color: #ff4500;
}

.p-logo {
  display: inline-block;
  /* text-transform: uppercase; */
}

.article-body figure {
  margin: 1.5rem 0;
  display: block;
  text-align:center; /* 追加 */
}

.article-body figcaption {
  padding: .5rem 0;
  font-size: .8rem;
  /* text-align: center; */
}

.sponsor {
  color: gray;
  font-size: 0.8rem;
  text-align: center;
}