<section class="sidebar">
  <header>PROJECTS</header>
  <div>
    <div class="articles sm">
      <article class="lism">
        <a href="https://hirotatsu.site" target="_blank">
          <div class="inner">
            <div class="title">hirotatsu.</div>
            <ul class="facts sm">
              <li>自己紹介サイト</li>
            </ul>
          </div>
        </a>
      </article>
      <article class="lism">
        <a href="https://hitchhike.work/" target="_blank">
          <div class="inner">
            <div class="title">HITCHHIKE MEMORIES</div>
            <ul class="facts sm">
              <li>今までのヒッチハイクのまとめサイト</li>
            </ul>
          </div>
        </a>
      </article>
      <article class="lism">
        <a href="https://htlp.work/" target="_blank">
          <div class="inner">
            <div class="title">LP</div>
            <ul class="facts sm">
              <li>ランディングページ</li>
            </ul>
          </div>
        </a>
      </article>
      <article class="lism">
        <a href="https://esekansai.work/" target="_blank">
          <div class="inner">
            <div class="title">EKK</div>
            <ul class="facts sm">
              <li>エセ関西弁協会の公式サイト</li>
            </ul>
          </div>
        </a>
      </article>
      <article class="lism">
        <a href="https://tatsuppi.work/" target="_blank">
          <div class="inner">
            <div class="title">tatsuppi</div>
            <ul class="facts sm">
              <li>メモ帳アプリ</li>
            </ul>
          </div>
        </a>
      </article>
    </div>
  </div>
</section>