<section class="sidebar">
  <header>SPONSOR</header>
  <div>
    <div class="author">
      <div style="width: 100%">
        <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
        <!-- 世界のひろたつから広告300×250 -->
        <ins class="adsbygoogle" style="display: inline-block; width: 300px; height: 250px;" data-ad-client="ca-pub-3238767311312888" data-ad-slot="4464107747"></ins>
        <script>
          (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
      </div>
    </div>
  </div>
</section>
